.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-left: 10%;
  margin-top: 10%;
  -webkit-overflow-scrolling: touch;
}
.todo-container {
    border-top: 20%;
    width: 70%;
    height: 700px;
    border: 1px solid rgba(124, 107, 107, 0.404);
  }
  .todo-sidenav {
    width: 50%;
    padding: 20px;
  }
  .todo-main-Container {
    float: left;
    padding: 11px;
    width: 87%;
    height: 800px;
    background-color: #b0b0b0;
    height: 700px; 
    padding-left: 244px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .todo-header{
   height: 105px;
   width: 100%;
   background-color: dodgerblue;
   text-align: CENTER;
   font-size: xxx-large;
   color: #fff;
  }
  .header-text{
     padding-top: 42px;
  }
  .mat-body, .mat-body-1, .mat-typography{
    font:large;
  }
  