<div class ="todo-header">
  <div class="header-text">GE To Do List</div>
</div>
<div class="todo-main-Container">
  <mat-drawer-container class="todo-container" autosize>
    <mat-drawer class="todo-sidenav" mode="side" opened>
      <p>List</p>
      <app-todo-list (ItemId)="GetToDoItemId($event)"></app-todo-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-todo-details [ItemId] ="newId"></app-todo-details>
    </mat-drawer-content>
  </mat-drawer-container>
</div>


