<div>
<div class ="addBtn">
  <button type="button" color="primary" class ="todo-button-row" (click) ="AddNewToDoList()">
    Add To Do List
  </button>
</div>
<form  class="todo-form" [formGroup]="form" *ngIf="isAddView">
  <fieldset> 
  <mat-form-field class="todo-full-width">
    <mat-label>ToDo List Name </mat-label>
    <input type="text" required formControlName ="name" matInput>
    <mat-error *ngIf="form.get('name')"></mat-error>
  </mat-form-field>
  <div class="btnSave">
    <button type="button" color="primary" class ="todo-button-row" (click) ="onSubmit()">
      Save ToDo List
    </button>
  </div>
</fieldset> 
</form>
<form class="todo-form" *ngIf="isDetailsView">
  <fieldset> 
  <div *ngIf="item">
    <div class ="detailsPannel">
      <div class="lblName">
        <mat-label> Name : {{item.name}}</mat-label>
      </div>
      <div class="lblComplete">
        <mat-label> Completed : {{item.isCompleted}} </mat-label>
      </div>
    </div>
      <div class="completeBtn">
        <button *ngIf="!item.isCompleted" type="button" color="primary" class ="todo-button-row" (click) ="UpdateToDoList()">
          Complete To Do List
        </button>
      </div>
  </div>
</fieldset> 
</form>
</div>

    
   
