.todo-button-row {
    display: table-cell;
    width: 223px;
    background-color:green;
    height:50px;
    color: #fff;
    font-size: large;
  }
  .todo-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .todo-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .addBtn{
    padding-top: 50px;
    padding-left: 160px;
  }
  .completeBtn{
    padding-left: 160px;
    padding-top: 290px;
  }
  .detailsPannel{
    padding-top: 180px;
    padding-left: 148px;
    font-size: larger;
  }
  .btnSave{
    padding-top: 50px;
    padding-left: 160px;
  }
  .lblName{
    align-content: center;
    margin-bottom: 20px;
    font-size: x-large;
  }
  .lblComplete {
    align-content: center;
    margin-bottom: 45px;
    font-size: x-large;
  }