
<mat-selection-list #items [multiple]="false"> 
<fieldset> 
   <mat-list-option *ngFor="let item of ToDoListItems" [value]="item.id" (click)="GetItemId(items.selectedOptions.selected[0]?.value)">
      {{item.name}}
   </mat-list-option>
</fieldset>
 </mat-selection-list>
 
